@font-face {
  font-family: "ProximaNova";

  src: url("../fonts/ProximaNova.woff") format("woff");
}

@font-face { 
  font-family: "Circe-Regular";

  src: url("../fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-family: "Circe-Bold";

  src: url("../fonts/Circe-Bold.woff") format("woff");
}
