body {
align-self: center;

width: 1240;
}


.menu {
  display: flex;
  justify-content: center;

  background-color: #ffff;
}
.menu p {
  padding-top: 64px;
  padding-left: 80px;

  color: #4A4343;

  font-size: 20px;
}

.menu a:first-child {
  margin-left: -160px;
}

a, a:visited {
  text-decoration: none;

  color: #4A4343;
}
.menu img {
  width: 60px;
  height: auto;
  padding-top: 32px;
  padding-left: 80px;
}
