body {
display: block;
overflow-x: hidden;
overflow-y: scroll;

width: 100%;
}

 p {
   width: 610px;
   margin-bottom: 48px;

    color: #4A4343;

   font-family: "Circe-Regular";
   font-size: 24px;
   line-height: 35px;
 }

.menu {
  display: flex;

  background-color: #ffff;
}
.logo {
  margin-right: 500px;
  padding: 0;
}
a {
  font-family: "Circe-Regular";
}
h2 {
    color: #4A4343
}

h3 {
    color: #4A4343
}
.mainContent .menu p {
  width: auto;
  padding-top: 64px;
  padding-left: 60px;

  color: #4A4343;

  font-family: "Circe-Regular";
  font-size: 20px;
}


.mainContent {
  width: 1240px;
  margin-right: auto;
  margin-left: auto;

}

a, a:visited {
  text-decoration: none;

  color: #4A4343;
}
.menu img {
  width: 60px;
  height: auto;
  padding-top: 32px;
}

.mainContent h1 {
  width: 677px;
  margin-top: 144px;
  margin-bottom: 48px;

  color: #4A4343;

  font-family: "ProximaNova", sans-serif;
  font-size: 70px;
  line-height: 72px;
}

.mainContent p {
  width: 550px;

  color: #4A4343;

  line-height: 40px;
}

.block p {
    font-size: 33px;
}

.mainContent button {
  align-items: center;
  justify-content: center;

  width: 330px;
  height: 64px;

  border: none;
  border-radius: 13px;
  background-color: #FFDF4E;

  decoration: none;
}

.mainContent button p {
  width: 330px;
  margin: 0;
  margin-bottom: 0px;

  font-size: 25px;
  line-height: 25px;
}
.block button {
  margin-bottom: 300px;
}
.block button::after {
  decoration: none;
}

.block button:hover {
  background-color: #F7C778;
}

.block2 {
  margin-bottom: 528px;
  margin-left: 210px;
}

.mainImg {
  height: 850px;
}

h2  {
  width: 612px;
  margin-bottom: 36px;

  font-size: 65px;
}

.block2 img {
  position: absolute;
  z-index: -300;
  top: 1015px;
  left: -15px;

  height: 724px;
}
.block3 {
  width: 1640;

}
.block3 h2 {
  margin-left: 524px;
}
.block3 p {
  margin-left: 524px;
}

.iphone {
   height: 940px;
   margin-top: -750px;
   margin-left: -80px;
 }

.group {
    overflow: hidden;

    height: 212px;
    margin-top: 2224px;
    margin-left: -900px;

 }
.photo {
  margin-top: -2180px;
}
.manyAbout {
  display: flex;

  margin-top: 550px;

  }
.textAbout {
  width: 400px;
  margin-left: 50px;
}
.textAbout:first-child {
margin-left: -40px;
}
.textAbout h3 {
  text-align: center;

  font-family: "ProximaNova", sans-serif;
  font-size: 124px;
}

.textAbout p {
  width: 350px;
  margin-left: 10px;

  text-align: center;

  font-size: 26px;
}

.block4 img {
  width: 1600px;
  margin-top: -700px;
  margin-left: -150px;
}
.background {
  position: absolute;
  z-index: -200;

  width: 1240px;
}
.block4 a {
  margin-left: 940px;

  text-decoration: underline;

  color: #ffffff;

  font-family: "Circe-Regular";
  font-size: 20px;
  font-weight: 400;
}

.block5 {
  margin-top: 600px;
}
.block5 p {
  margin-bottom: 36px;
}
.block5 img {
  height: 768px;
  margin-top: -600px;
  margin-left: 600px;
}
.block5 a {
  text-decoration: underline;

  color: #467C86;

  font-size: 20px;
}
